NET "mole2" LOC = P120 | IOSTANDARD = LVTTL;
NET "mole3" LOC = P121 | IOSTANDARD = LVTTL;
NET "mole4" LOC = P119 | IOSTANDARD = LVTTL;
NET "mole5" LOC = P117 | IOSTANDARD = LVTTL;
NET "mole6" LOC = P115 | IOSTANDARD = LVTTL;
NET "mole7" LOC = P112 | IOSTANDARD = LVTTL;
NET "mole8" LOC = P105 | IOSTANDARD = LVTTL;
NET "mole9" LOC = P102 | IOSTANDARD = LVTTL;
NET "mole10" LOC = P100 | IOSTANDARD = LVTTL;
NET "mole11" LOC = P98 | IOSTANDARD = LVTTL;
NET "mallet2" LOC = P40 | IOSTANDARD = LVTTL;
NET "mallet3" LOC = P34 | IOSTANDARD = LVTTL;
NET "mallet4" LOC = P32 | IOSTANDARD = LVTTL;
NET "mallet5" LOC = P29 | IOSTANDARD = LVTTL;
NET "mallet6" LOC = P51 | IOSTANDARD = LVTTL;
NET "mallet7" LOC = P41 | IOSTANDARD = LVTTL;
NET "mallet8" LOC = P35 | IOSTANDARD = LVTTL;
NET "mallet9" LOC = P33 | IOSTANDARD = LVTTL;
NET "mallet10" LOC = P30 | IOSTANDARD = LVTTL;
NET "mallet11" LOC = P27 | IOSTANDARD = LVTTL;
NET "point1" LOC = P120 | IOSTANDARD = LVTTL;
NET "point2" LOC = P121 | IOSTANDARD = LVTTL;
NET "point3" LOC = P118 | IOSTANDARD = LVTTL;
NET "point4" LOC = P119 | IOSTANDARD = LVTTL;
NET "point5" LOC = P116 | IOSTANDARD = LVTTL;
NET "point6" LOC = P117 | IOSTANDARD = LVTTL;
NET "point7" LOC = P114 | IOSTANDARD = LVTTL;
NET "point8" LOC = P115 | IOSTANDARD = LVTTL;
NET "point9" LOC = P111 | IOSTANDARD = LVTTL;
NET "point10" LOC = P112 | IOSTANDARD = LVTTL;