NET "mole2" LOC = P120;
NET "mole2" IOSTANDARD = LVTTL;
NET "mole3" LOC = P121;
NET "mole3" IOSTANDARD = LVTTL;
NET "mole4" LOC = P119;
NET "mole4" IOSTANDARD = LVTTL;
NET "mole5" LOC = P117;
NET "mole5" IOSTANDARD = LVTTL;
NET "mole6" LOC = P115;
NET "mole6" IOSTANDARD = LVTTL;
NET "mole7" LOC = P112;
NET "mole7" IOSTANDARD = LVTTL;
NET "mole8" LOC = P105;
NET "mole8" IOSTANDARD = LVTTL;
NET "mole9" LOC = P102;
NET "mole9" IOSTANDARD = LVTTL;
NET "mole10" LOC = P100;
NET "mole10" IOSTANDARD = LVTTL;
NET "mole11" LOC = P98;
NET "mole11" IOSTANDARD = LVTTL;
NET "mallet2" LOC = P40;
NET "mallet2" IOSTANDARD = LVTTL;
NET "mallet3" LOC = P34;
NET "mallet3" IOSTANDARD = LVTTL;
NET "mallet4" LOC = P32;
NET "mallet4" IOSTANDARD = LVTTL;
NET "mallet5" LOC = P29;
NET "mallet5" IOSTANDARD = LVTTL;
NET "mallet6" LOC = P51;
NET "mallet6" IOSTANDARD = LVTTL;
NET "mallet7" LOC = P41;
NET "mallet7" IOSTANDARD = LVTTL;
NET "mallet8" LOC = P35;
NET "mallet8" IOSTANDARD = LVTTL;
NET "mallet9" LOC = P33;
NET "mallet9" IOSTANDARD = LVTTL;
NET "mallet10" LOC = P30;
NET "mallet10" IOSTANDARD = LVTTL;
NET "mallet11" LOC = P27;
NET "mallet11" IOSTANDARD = LVTTL;
NET "point1" LOC = P120 | IOSTANDARD = LVTTL;
NET "point1" IOSTANDARD = LVTTL;
NET "point2" LOC = P121 | IOSTANDARD = LVTTL;
NET "point2" IOSTANDARD = LVTTL;
NET "point3" LOC = P118;
NET "point3" IOSTANDARD = LVTTL;
NET "point4" LOC = P119 | IOSTANDARD = LVTTL;
NET "point4" IOSTANDARD = LVTTL;
NET "point5" LOC = P116;
NET "point5" IOSTANDARD = LVTTL;
NET "point6" LOC = P117 | IOSTANDARD = LVTTL;
NET "point6" IOSTANDARD = LVTTL;
NET "point7" LOC = P114;
NET "point7" IOSTANDARD = LVTTL;
NET "point8" LOC = P115 | IOSTANDARD = LVTTL;
NET "point8" IOSTANDARD = LVTTL;
NET "point9" LOC = P111;
NET "point9" IOSTANDARD = LVTTL;
NET "point10" LOC = P112 | IOSTANDARD = LVTTL;
NET "point10" IOSTANDARD = LVTTL;
